<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JChart/src/net/zive/shibayu/cli/Chart.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.zive.shibayu.cli.Chart"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\優\Downloads\USDJPY_201801\201801\USDJPY_20180102.csv  -oD:\opt\eclipse\jee-neon\eclipse\workspace_cli\release"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JChart"/>
</launchConfiguration>
